<launch>
   <node pkg="rosbag" type="play" name="rosbag" required="true" args="/home/maxliu/catkin_ws/src/sam3d/media/test.bag"/>
   <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/device_0/sensor_0/Infrared_1/image/data"/>
   </node>
</launch>